<div class="container">
    <h2 class="mb-4 text-center">Users Data</h2>  
    <form [formGroup]="searchform">

      <input type="text" placeholder="Search" id="name" formControlName="name">
      <button (click)="searchStudents()" class="btn btn-secondary">Search</button>
    <button (click)="resetSearch()" class="btn btn-secondary">Reset</button> 
    <label for="sortBy" class= "ms-3">Sort by: </label>
    <select id="sortBy" (change)="sortTable($event)">
      <!-- <select id="sortBy"> -->
     <option value="username">Name</option>
     <option value="gender">Gender</option>
  <!-- <option value="address">Address</option> -->
  </select></form>    
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="id-column">Id</th>
            <th>ProfileImage</th>
            <th>Name</th>    
            <th>Gender</th>
            <th>Email </th>
            <th>Role</th>
            <th>Operatation</th>
         
          </tr>
        </thead>
        <tbody>   
          <tr *ngFor="let s of studentlist; index as i">
            <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td> 
            <div class="profile-image-container">
              <img [src]="'data:image/jpeg;base64,' + s.fileData" alt="Profile Image" 
              class="profile-image" />
            </div>
            <td>{{s.username}}</td>
            <td>{{s.gender}}</td> 
            <td>{{s.email}}</td>
            <td>{{s.role}}</td>
            <!-- <td> <button class="btn-primary" [routerLink]="['/update',s.id]">Edit</button></td> -->
            <td>  <i class="fas fa-eye btn-icon" (click)="View(s.id)"></i>
              <i class="fas fa-edit btn-icon" (click)="update(s.id)"></i>
           <i class="fas fa-trash btn-icon" (click)="delete(s.id)"></i>
         </td>
          </tr>
        </tbody>
        </table>
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
            <li class="page-item" [class.disabled]="currentPage === 1">
              <button class="page-link " (click)="getAllstdByPage(currentPage - 1)">Previous</button>
            </li>
            <li class="page-item" *ngFor="let page of totalPagesArray" [class.active]="page === currentPage">
              <!-- Conditionally show page numbers or ellipses -->
              <button class="page-link" (click)="getAllstdByPage(page)" *ngIf="page !== -1">{{ page }}</button>
              <span class="page-link" *ngIf="page === -1">...</span>
            </li>
            <li class="page-item" [class.disabled]="currentPage === totalPages">
              <button class="page-link" (click)="getAllstdByPage(currentPage + 1)">Next</button>
            </li>
          </ul>
        </nav>
        <!-- Display current page out of total pages -->
        <div class="page-item fw-bold text-center m-2">
          <p class="m-0">Current records {{ currentPage * 10 - 10 + 1 }} to
             {{ (currentPage - 1) * pageSize + studentlist.length }} </p>
     </div>
        <p class="text-center">Page {{currentPage}} of {{totalPages}}</p>

    </div>
  

  
  
