
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap" rel="stylesheet">
 
</head>


    <!-- Background with Shapes -->
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>

    <!-- Reset Password Form -->
    <div class="form-container">
        <h3>Reset Your Password</h3>
        <p>Please enter your new password and confirm it below.</p>
        <form [formGroup]="employeeForm" (ngSubmit)="reset()">
            <label for="password">New Password</label>
            <input type="password" id="password" formControlName="password" placeholder="Enter new password" required>

            <button type="submit" >Reset Password</button>
        </form>
    </div>
