<link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">



    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
        <h3>Login Here</h3>

        <label for="username">Username</label>
        <input type="text" placeholder="Email or Phone" id="username" formControlName="username">
        <div *ngIf="f.username?.invalid && f.username?.touched" class="error-message">
            <small>Username is required</small>
          </div>

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" formControlName="password">
        <div *ngIf="f.password?.invalid && f.password?.touched" class="error-message">
            <small>Password is required</small>
          </div>
          <label >What is {{ captchaQuestion }}?</label>
          <input type="text"  id="captchaAnswer" formControlName="captchaAnswer">
          <div *ngIf="f.captchaAnswer?.invalid && f.captchaAnswer?.touched" class="error-message">
            <small>CAPTCHA answer is required</small>
          </div>

        <button type="submit" [disabled]="loginForm.invalid">Log In</button>
        <div class="social">
         <a href="" routerLink="/forgetpw">Forget passswoard?</a>
        </div>
        
    </form>

