/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  /* Container for the Update Student Form */
  .update-student-container {
    width: 420px;
    height: 600px; 
    overflow-y: auto;
    /* margin: 50px auto; */
    background-color: #2a2a2a;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    color: #fff;
  }
  
  /* Heading */
  .update-student-container h3 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
    color: #fff;
  }
  .profile-image-container {
    margin-bottom: 5px; /* Add space below the image */
    text-align: center; /* Center the image */
  }
  
  .profile-image {
    width: 75px; /* Set the desired width */
    height: 75px; /* Set the desired height */
    border-radius: 50%; /* Make the image circular */
    object-fit: cover; /* Ensure the image fits inside the circle */
    border: 3px solid #fff; /* Add a white border around the image */
    box-shadow: 0 0 10px rgba(8, 7, 16, 0.6); /* Optional shadow */
  }
  .avatar-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 5px rgba(0, 255, 255, 0.6);
  }
 
  .avatar-fallback {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #00c2ff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    box-shadow: 0 0 5px rgba(0, 255, 255, 0.6);
    margin: 0 auto; 
  }
  
  /* Form Styling */
  form {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  /* Labels */
  label {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 2px;
  }
  
  /* Input Fields */
  input {
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    width: 100%;
  }
  
  input:focus {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: #ff512f;
  }
  
  /* Gender Radio Buttons */
  .gender-radio {
    display: flex;
    gap: 20px;
    color: #fff;
  }
  
  .gender-radio input {
    accent-color: #ff512f;
  }
  
  /* Submit Button */
  button {
    padding: 12px;
    background-color: #ff512f;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
  }
  
  button:hover {
    background-color: #f09819;
    transform: scale(1.05);
  }
  