<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professional Dashboard</title>
   </head>
<body>

    <!-- Navbar Section -->
    <div class="navbar">
        <!-- <a href="#" class="nav-button">LogIn</a> -->
        <button class="nav-button">Employee-System</button>
        <div class="nav-buttons">
            <button class="nav-button" routerLink="/dashboard">Profile</button>
            <select id="role" (change)="onRoleChange($event)"> 
                     <option value="" style="display: none;">Select role</option>
                    <option value="admin">Admin</option>
                    <option value="user">User</option>
           </select>
            <button class="nav-button"(click)="openEmailDialog()" >AddUser</button>
             <button class="nav-button" (click)="Upload()">Upload</button>
            <button class="nav-button" (click)="download()">Download</button>        
            <button class="nav-button" (click)="logout()">Logout</button>
        </div>
    </div>
    
    <router-outlet></router-outlet>  

    <footer>
        <p>&copy; 2025 Your Company. All Rights Reserved.</p>
    </footer>

</body>
</html>
